---
name: test
on:
  pull_request:
    branches: [main]
env:
  AQUA_LOG_COLOR: always
jobs:
  ci-info:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: aquaproj/aqua-installer@7c7338067bdb97d5bea2acc82b5870afca470d18 # v2.3.0
        with:
          aqua_version: v2.24.1
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - uses: ./store
        env:
          GITHUB_TOKEN: ${{ github.token }}

  test:
    needs: ci-info
    strategy:
      matrix:
        env:
          - runs-on: windows-latest
          - runs-on: ubuntu-latest
    runs-on: ${{ matrix.env.runs-on }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: ./restore
      - run: echo "$CI_INFO_PR_NUMBER"
