---
name: test
on:
  pull_request:
    branches: [main]
env:
  AQUA_LOG_COLOR: always
jobs:
  ci-info:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
      - uses: aquaproj/aqua-installer@61e2563dfe7674cbf74fe6ec212e444198a3bb00 # v2.0.2
        with:
          aqua_version: v2.2.1
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - uses: ./store
        env:
          GITHUB_TOKEN: ${{ github.token }}

  test:
    needs: ci-info
    strategy:
      matrix:
        env:
          - runs-on: windows-latest
          - runs-on: ubuntu-latest
    runs-on: ${{ matrix.env.runs-on }}
    steps:
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
      - uses: ./restore
      - run: echo "$CI_INFO_PR_NUMBER"
