---
name: test
on: workflow_call
env:
  AQUA_LOG_COLOR: always
jobs:
  ci-info:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.7
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - uses: ./store
        env:
          GITHUB_TOKEN: ${{ github.token }}

  test:
    timeout-minutes: 10
    needs: ci-info
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./restore
      - run: echo "$CI_INFO_PR_NUMBER"
